<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EJS TEST</title>
</head>
<body>
    <h1>EJS TEST</h1>
    <% if (a) {%>
    <h2>true</h2>
    <% }else{%>
    <h2>false</h2>
    <% }%>
    <%-include('inc1')%>
</body>
</html>