<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <title>home main index </title>
    <base href="<%= pathBase %>">
</head>
<body>
<h1>home main index </h1>
<!--<form method="post" action="./post">-->
<form method="post" action="./post" >
    <input name="usn[]" type="checkbox" value="尤里2号">
    <input name="usn[]" type="checkbox" value="123456">
    <!--<input name="file1" type="file" >-->
    <input type="submit">
</form>
<button id="btn_ajax">ajax test</button>
<script>
    $('#btn_ajax').click(function () {
        $.post("./ajax",{usn:'yuri2',psw:'yuri3'},function (data) {
            console.log(data.msg);
        },'json')
//        alert($.ajax({url:"/home/main/ajax",async:false}));
    })
</script>
</body>
</html>